* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section#score div {
  width: 100%;
}

#score div {
  width: 10em;
  height: 2.5em;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

#board {
  width: 640px;
  height: 640px;
  margin: 0.5em auto;
}

#board  div {
  border: 1px dashed #ff9966;
  float: left;
  width: 64px;
  height: 64px;
}

.coin {
  background-color: white;
  border-radius: 50%;
}

.furry {
  background-color: white;
}

.startSection {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color:  #ff9966;
  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  text-decoration: none;
  border: none;
  font-family: "Pacifico", helvetica, sans-serif;
  cursor: pointer;
  color: white;
  background-color:transparent;
  outline: 0;
  font-size: 2rem;
}

.overBgc {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #ff5e62;
}

.overInfo {
  color: white;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40vh;
  margin-left: 30vw;
}

.invisible {
  display: none;
}
